* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    align-content: ;
    /* justify-items: center; */
    margin: 1cm 2cm;
}
#table{
    border-collapse: collapse;
}
.maintable{
    border-color: red;
    
}
.maintable .sdpart{
    background-color:aliceblue;
    border-color: blue;
}