* {
    margin: 0%;
    padding: %;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    justify-items: center;
}
nav{
    width: 40%;
    background-color: blueviolet;
    margin-top: 1cm ;
    justify-items: center;
    border-radius: .5cm;
}
ul{
    list-style-type: none;
    background-color: aqua;
   
}
ul li{
    display: inline-block;
    padding: .2cm;
}
ul li:hover {
    background-color: azure;
    color: black;
}
ul li a{
    text-decoration: none;
}
div{
    height: 2cm;
    width: 40%;
    background-color:goldenrod;
    margin-top: 10px;
}